@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Monsterrat";
  src: url("https://fonts.googleapis.com/css?family=Montserrat");
}

body {
  background-image: linear-gradient(to right, rgb(30, 30, 30), rgb(30, 30, 30));
  font-family: "Monsterrat";
}

h1 {
  color: white;
  font-family: "Helvetica";
  font-size: 20px;
}

label {
  font-family: "Helvetica";
  font-size: 15px;
  color: white;
}

input {
  background-color: white;
  border: 2px solid orange;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #eb9534;
  width: 150%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h2 {
  color: white;
  font-family: "Helvetica";
  font-size: 25px;
  text-align: center;
}
h3 {
  color: white;
  font-family: "Helvetica";
  font-size: 25px;
  text-align: center;
}

p {
  color: white;
  font-family: "Helvetica";
  font-size: 20px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #cecece; /* Green */
  color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

.side_column {
  float: left;
  width: 16%;
}

.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul li {
  list-style: disc !important;
}

#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Clear floats after the columns */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

p {
  color: white;
}

.navbar {
  align-self: center;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(30, 30, 30), rgb(30, 30, 30));
}

.fade-in-image {
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
}

.navbar a {
  font-family: "Helvetica";
  align-self: center;
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 5px;
}

b {
  font-family: "Montserrat";
  align-self: center;
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 5px;
}

.button {
  align-self: center;
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.vertical-center {
  padding: 30% 0;
}

.button a {
  align-self: center;
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 5px;
}

.container {
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: rgb(30, 30, 30);
  scroll-snap-align: start;
}

.button a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf");
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  font-weight: bold;
  font-style: italic, oblique;
}

span {
  -webkit-animation: blinker 1s linear infinite;
  animation: blinker 1s linear infinite;
}

/* CSS */
.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
